<div class="allergies-page">
  <div class="background"></div>
  <header id="bar" class="bar-allergies">
    <a href="#/passport"><i class="fa fa-arrow-circle-left"></i> back to passport</a>
  </header>

  <div>
    <div class="form-horizontal">
      <div class="form-group my_allergies">
        <div class="col-sm-3 hp-key"><i class="fa fa-exclamation-triangle fa-2x"></i> <span class="title">My allergies</a></div>
        <div class="col-sm-9 hp-value">
          <div ng-show="me.allergies.length == 0">I have no allergies</div>
          <button class="btn one_allergy" ng-repeat="allergy in me.allergies" ng-click="removeAllergy(allergy)">{{allergy.name}}</button>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-3 hp-key"><i class="fa fa-plus-square fa-2x"></i> <span class="title">Add allergies</span></div>
        <div class="col-sm-9 hp-value">
          <div ng-show="me.allergies.length == 4">No allergies left</div>
          <button class="btn one_allergy one_notselected" ng-repeat="allergy in notSelectedAllergies" ng-click="addAllergy(allergy)">{{allergy.name}}</button>
        </div>
      </div>
      
    </div>
  </div>
</div>