<div class="HomeContainer">
  
  <div class="header">
    <div class="camera">
      <img src="pictures/three.jpg" class="avatar"/>
      <a href="#/webcam"><i class="fa fa-camera fa-2x"></i></a>
      <div ng-click="showLogout()">{{user.avatar}}</div>
    </div>
  </div>
  
  <div class="buttons">
    <div ng-controller="DateFormat" class="clock" ng-click='speakDate()'>
      {{date.getDate()}} {{months[date.getMonth()]}} |  
      {{date.getHours() | pad}}:{{date.getMinutes() | pad}}
</div> 
  
  <div class="passport">
    <a href="#/passport" role="button">Healthpassport</a>
  </div>
  
    <div class="eventbuttons">
      <a href="#/events" class="keybutton" role="button">Add Event</a>
    </div>
  </div>
  <div class="emotions">
    <a class="happy" href="#/happy"><i class="fa fa-smile-o fa-2x"></i></a>
    <a class="sad" href="#/sad"><i class="fa fa-frown-o fa-2x"></i></a>
    <a class="pain" href="#/pain"><i class="fa fa-meh-o fa-2x"></i></a>
  </div>
  
</div>