<div class="passport-page">
  <div class="background"></div>
  <header id="bar">
    <a href="#/"><i class="fa fa-arrow-circle-left"></i> back</a>
  </header>
  
  <div class="menu">
    <div class="col-md-6">
      <a href="#/allergies" class="btn" role="button"><i class="fa fa-exclamation-triangle"></i> Allergies</a>
    </div>
    <!-- <div class="col-md-6">
      <a href="#/contacts" class="btn" role="button"><i class="fa fa-users"></i> Contacts</a>
    </div>
    <div class="col-md-6">
      <a href="#/questions" class="btn" role="button"><i class="fa fa-thumbs-up"></i> Like/Dislike</a>
    </div>
    <div class="col-md-6">
      <a href="#/questionnaire" class="btn" role="button"><i class="fa fa-picture-o"></i> Photos</a>
    </div>-->
  </div>
  
  <div class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-3 hp-key"><i class="fa fa-angle-right fa-2x"></i> <span class="title">Name</span></div>
      <div class="col-sm-9 hp-value">
        <div class="inside">{{me.name}} {{me.surname}}</div>
      </div>
    </div>
  
    <div class="form-group">
      <div class="col-sm-3 hp-key"><i class="fa fa-envelope-o fa-2x"></i> <span class="title">Email</span></div>
      <div class="col-sm-9 hp-value">
        <div class="inside">{{me.email || "Not stated yet"}}</div>
      </div>
    </div>
  
    <div class="form-group">
      <div class="col-sm-3 hp-key"><i class="fa fa-phone fa-2x"></i> <span class="title">Telephone</span></div>
      <div class="col-sm-9 hp-value">
        <div class="inside">{{me.telephone || "Not stated yet"}}</div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3 hp-key"><i class="fa fa-wheelchair fa-2x"></i> <span class="disability_level">Disability Level</span></div>
      <div class="col-sm-9 hp-value">
        <div class="inside">{{disability_level(me.patient.disability_level) || "Not stated yet" }}</div>
      </div>
    </div>

     <div class="form-group">
      <div class="col-sm-3 hp-key"><i class="fa fa-book fa-2x"></i> <span class="understanding">Understanding</span></div>
      <div class="col-sm-9 hp-value">
        <div class="inside">{{understanding_level(me.patient.understanding_level) || "Not stated yet" }}</div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3 hp-key"><i class="fa fa-bullhorn fa-2x"></i> <span class="communication">Communication</span></div>
      <div class="col-sm-9 hp-value">
        <div class="inside">{{communication_type(me.patient.communication_type) || "Not stated yet" }}</div>
      </div>
    </div>

     <div class="form-group">
      <div class="col-sm-3 hp-key"><i class="fa fa-user-md fa-2x"></i> <span class="title">Support hours</span></div>
      <div class="col-sm-9 hp-value">
        <div class="inside">{{me.patient.support_hours || "I didn't define the number of"}} hours</div>
      </div>
    </div>

   <!-- Disability level: 
     <ul>
        <li>Low</li>
        <li>Medium</li>
        <li>High</li>
      </ul>
    </div>
    <div>Understanding level: 
     <ul>
        <li>Easily</li>
        <li>Moderate</li>
        <li>Very Difficult</li>
      </ul>
    </div>
    <div>Communication type:
      <ul>
        <li>Involving someone else</li>
        <li>Easy read information</li>
        <li>Communication Book</li>
        <li>Pictures</li>
        <li>Drawing</li>
        <li>Signing/Makaton</li>
        <li>Signing and talikng</li>
        <li>Speaking directly to me</li>
        <li>Look me in the face</li>
      </ul>
    </div>
    <div>Support hours: 0-1 1-5 5-10{{me.support_hours}}</div>
  -->
    <div class="col-md-6">
      <a href="#/passport/edit" class="btn"><i class="fa fa-edit"></i> Edit passport</a>
    </div>
  </div>
</div>