<div class="passport-page" ng-controller="PassportController">
  <div class="background"></div>
  <header id="bar">
    <a href="#/"><i class="fa fa-arrow-circle-left"></i> back</a>
  </header>
  
  <div class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-3 hp-key"><i class="fa fa-angle-right fa-2x"></i> <span class="title">Name</span></div>
      <div class="col-sm-9 hp-value">
        <div class="inside"><input type="text" ng-model="me.name"><input type="text" ng-model="me.surname"></div>
      </div>
    </div>
  
    <div class="form-group">
      <div class="col-sm-3 hp-key"><i class="fa fa-envelope-o fa-2x"></i> <span class="title">Email</span></div>
      <div class="col-sm-9 hp-value">
        <div class="inside"><input type="text" ng-model="me.email"></div>
      </div>
    </div>
  
    <div class="form-group">
      <div class="col-sm-3 hp-key"><i class="fa fa-phone fa-2x"></i> <span class="title">Telephone</span></div>
      <div class="col-sm-9 hp-value">
        <div class="inside"><input type="text" ng-model="me.telephone"></div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3 hp-key"><i class="fa fa-wheelchair fa-2x"></i> <span class="disability_level">Disability Level</span></div>
      <div class="col-sm-9 hp-value">
        <div class="inside">
          <button class="btn btn-primary"
                  ng-click="me.patient.disability_level=1"
                  ng-class="{'active btn-danger':me.patient.disability_level==1}">
            {{disability_level(1)}}
          </button>
          <button class="btn btn-primary"
                  ng-click="me.patient.disability_level=2"
                  ng-class="{'active btn-danger':me.patient.disability_level==2}">
            {{disability_level(2)}}
          </button>
          <button class="btn btn-primary"
                  ng-click="me.patient.disability_level=3"
                  ng-class="{'active btn-danger':me.patient.disability_level==3}">
            {{disability_level(3)}}
          </button>
        </div>
      </div>
    </div>

     <div class="form-group">
      <div class="col-sm-3 hp-key"><i class="fa fa-book fa-2x"></i> <span class="understanding">Understanding</span></div>
      <div class="col-sm-9 hp-value">
        <div class="inside">
          <button class="btn btn-primary"
                  ng-click="me.patient.understanding_level=1"
                  ng-class="{'active btn-danger':me.patient.understanding_level==1}">
                {{understanding_level(1)}}</button>
          <button class="btn btn-primary"
                  ng-click="me.patient.understanding_level=2"
                  ng-class="{'active btn-danger':me.patient.understanding_level==2}">
                {{understanding_level(2)}}</button>
          <button class="btn btn-primary"
                  ng-click="me.patient.understanding_level=3"
                  ng-class="{'active btn-danger':me.patient.understanding_level==3}">
                {{understanding_level(3)}}</button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3 hp-key"><i class="fa fa-bullhorn fa-2x"></i> <span class="communication">Communication</span></div>
      <div class="col-sm-9 hp-value">
        <div class="inside">
          <button class="btn btn-primary"
                  ng-click="me.patient.communication_type=1"
                  ng-class="{'active btn-danger':me.patient.communication_type==1}">
                {{communication_type(1)}}</button>
          <button class="btn btn-primary"
                  ng-click="me.patient.communication_type=2"
                  ng-class="{'active btn-danger':me.patient.communication_type==2}">
                {{communication_type(2)}}</button>
          <button class="btn btn-primary"
                  ng-click="me.patient.communication_type=3"
                  ng-class="{'active btn-danger':me.patient.communication_type==3}">
                {{communication_type(3)}}</button>
          <button class="btn btn-primary"
                  ng-click="me.patient.communication_type=4"
                  ng-class="{'active btn-danger':me.patient.communication_type==4}">
                {{communication_type(4)}}</button>
        </div>
      </div>
    </div>

     <div class="form-group">
      <div class="col-sm-3 hp-key"><i class="fa fa-user-md fa-2x"></i> <span class="title">Support hours</span></div>
      <div class="col-sm-9 hp-value">
        <div class="inside">
          <input type="text" ng-model="me.patient.support_hours">
        </div>
      </div>
    </div>

  </div>
  <button class="btn btn-transparent" ng-click="saveMe(me)">Save</button>
  <button class="btn btn-danger" ng-click="logout()">Logout</button>
</div>