/*
 * healthpass.less
 *
 * Main LESS file to compile (and minimize) into healthpass.css 
 */
/* Variables */
/* Functions */
/* Less code */
.avatar {
  border-radius: 999px;
  width: 80px;
}
#bar {
  font-size: 2em;
  padding: 10px 0;
  border-bottom: 6px solid #aaa;
}
#bar a {
  color: #fff;
}
.form-group .hp-key {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.7em;
  color: #fff;
  font-weight: 600;
}
.form-group .hp-key .fa {
  margin-left: 15px;
}
.form-group .hp-key .fa,
.form-group .hp-key .title {
  vertical-align: middle;
}
.form-group .hp-value {
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 1.7em;
}
.form-group .hp-value .inside {
  padding: 0px 15px;
}
.passport-page #bar {
  background-color: #3e9994;
}
.passport-page .hp-key {
  background-color: #3e9994;
}
.passport-page .hp-value {
  background-color: #d9e8e8;
  color: #3e9994;
}
.passport-page .btn {
  background-color: #3e9994;
  font-size: 1.2em;
  color: #ffffff;
}
.passport-page .btn.one_allergy {
  margin-right: 10px;
  margin-bottom: 10px;
}
.passport-page .btn.one_notselected {
  background-color: #666;
}
.events-page #bar {
  background-color: #331336;
}
.events-page .hp-key {
  background-color: #331336;
}
.events-page .hp-value {
  background-color: #c6bdc9;
  color: #331336;
}
.events-page .btn {
  background-color: #331336;
  font-size: 1.2em;
  color: #ffffff;
}
.events-page .btn.one_allergy {
  margin-right: 10px;
  margin-bottom: 10px;
}
.events-page .btn.one_notselected {
  background-color: #666;
}
.events-page .content {
  text-align: center;
  margin-top: 1%;
}
.doctor-page #bar {
  background-color: #565051;
}
.doctor-page .hp-key {
  background-color: #565051;
}
.doctor-page .hp-value {
  background-color: #d1d0ce;
  color: #565051;
}
.doctor-page .btn {
  background-color: #565051;
  font-size: 1.2em;
  color: #ffffff;
}
.doctor-page .btn.one_allergy {
  margin-right: 10px;
  margin-bottom: 10px;
}
.doctor-page .btn.one_notselected {
  background-color: #666;
}
.add-contact-page #bar {
  background-color: #dc663d;
}
.add-contact-page .hp-key {
  background-color: #dc663d;
}
.add-contact-page .hp-value {
  background-color: #f9e0ce;
  color: #dc663d;
}
.add-contact-page .btn {
  background-color: #dc663d;
  font-size: 1.2em;
  color: #ffffff;
}
.add-contact-page .btn.one_allergy {
  margin-right: 10px;
  margin-bottom: 10px;
}
.add-contact-page .btn.one_notselected {
  background-color: #666;
}
.emotions-page .uppercase {
  text-transform: uppercase;
  font-size: 3em;
}
.emotions-page h3 {
  color: #fff;
}
.emotions-page .icon {
  color: #fff;
  font-size: 1.7em;
}
.emotions-page .content {
  text-align: center;
}
.emotions-page textarea {
  width: 90%;
  height: 25%;
  max-height: 400px;
  min-height: 100px;
}
.emotions-page #cameraDiv {
  height: 10%;
  margin: 2%;
}
.emotions-page #cameraDiv .fa {
  color: white;
}
.emotions-page.sad {
  height: 100%;
  background-color: #ff0707;
  background-image: -webkit-linear-gradient(top, #ff0707, #6d0000);
  background-image: -moz-linear-gradient(top, #ff0707, #6d0000);
  background-image: -o-linear-gradient(top, #ff0707, #6d0000);
  background-image: -ms-linear-gradient(top, #ff0707, #6d0000);
  background-image: linear-gradient(top, #ff0707, #6d0000);
}
.emotions-page.sad #bar {
  background-color: #a00000;
}
.emotions-page.sad .hp-key {
  background-color: #a00000;
}
.emotions-page.sad .btn {
  background-color: #fff;
  font-size: 1.7em;
  width: 200px;
  color: #a00000;
}
.emotions-page.pain {
  height: 100%;
  background-color: #0055ff;
  background-image: -webkit-linear-gradient(top, #0055ff, #002266);
  background-image: -moz-linear-gradient(top, #0055ff, #002266);
  background-image: -o-linear-gradient(top, #0055ff, #002266);
  background-image: -ms-linear-gradient(top, #0055ff, #002266);
  background-image: linear-gradient(top, #0055ff, #002266);
}
.emotions-page.pain #bar {
  background-color: #003399;
}
.emotions-page.pain .hp-key {
  background-color: #003399;
}
.emotions-page.pain .btn {
  background-color: #fff;
  font-size: 1.7em;
  width: 200px;
  color: #003399;
}
.emotions-page.happy {
  height: 100%;
  background-color: #85e0a3;
  background-image: -webkit-linear-gradient(top, #85e0a3, #29a352);
  background-image: -moz-linear-gradient(top, #85e0a3, #29a352);
  background-image: -o-linear-gradient(top, #85e0a3, #29a352);
  background-image: -ms-linear-gradient(top, #85e0a3, #29a352);
  background-image: linear-gradient(top, #85e0a3, #29a352);
}
.emotions-page.happy #bar {
  background-color: #33cc66;
}
.emotions-page.happy .hp-key {
  background-color: #33cc66;
}
.emotions-page.happy .btn {
  background-color: #fff;
  font-size: 1.7em;
  width: 200px;
  color: #33cc66;
}
.questions-page #bar {
  background-color: #e9b937;
}
.questions-page .hp-key {
  background-color: #e9b937;
}
.questions-page .hp-value {
  background-color: #e9b937;
  color: #e9b937;
}
.questions-page .btn {
  background-color: #e9b937;
  font-size: 1.2em;
  color: #ffffff;
}
.questions-page .btn.one_allergy {
  margin-right: 10px;
  margin-bottom: 10px;
}
.questions-page .btn.one_notselected {
  background-color: #666;
}
.allergies-page #bar {
  background-color: #e9b937;
}
.allergies-page .hp-key {
  background-color: #e9b937;
}
.allergies-page .hp-value {
  background-color: #faf2d9;
  color: #e9b937;
}
.allergies-page .btn {
  background-color: #e9b937;
  font-size: 1.2em;
  color: #ffffff;
}
.allergies-page .btn.one_allergy {
  margin-right: 10px;
  margin-bottom: 10px;
}
.allergies-page .btn.one_notselected {
  background-color: #666;
}
.contacts-page #bar {
  background-color: #dc663d;
}
.contacts-page .hp-key {
  background-color: #dc663d;
}
.contacts-page .hp-value {
  background-color: #f9e0ce;
  color: #dc663d;
}
.contacts-page .btn {
  background-color: #dc663d;
  font-size: 1.2em;
  color: #ffffff;
}
.contacts-page .btn.one_allergy {
  margin-right: 10px;
  margin-bottom: 10px;
}
.contacts-page .btn.one_notselected {
  background-color: #666;
}
.contacts-page .actions,
.contacts-page .contacts {
  text-align: center;
  margin-top: 1%;
}
.HomeContainer {
  text-align: center;
}
.HomeContainer .buttons {
  margin-bottom: 10px;
}
.eventbuttons,
.emotions,
.clock,
.passport,
.camera {
  height: 15%;
  vertical-align: middle;
  width: 100%;
  font-size: 3em;
  color: #fff;
  padding: 10px 0;
}
.eventbuttons a,
.emotions a,
.clock a,
.passport a,
.camera a {
  color: #fff;
}
.eventbuttons .fa,
.emotions .fa,
.clock .fa,
.passport .fa,
.camera .fa {
  margin-left: 15px;
  vertical-align: middle;
}
.camera {
  height: 20%;
}
.camera > .fa {
  color: #331336;
}
.camera a {
  color: #331336;
}
.clock {
  background-color: #a47272;
}
.eventbuttons {
  background-color: #331336;
}
.passport {
  background-color: #3e9994;
}
.happy > .fa {
  color: #33cc66;
}
.sad > .fa {
  color: #a00000;
}
.pain > .fa {
  color: #003399;
}
.menu {
  overflow: hidden;
  margin: 1%;
}
.menu .btn {
  margin: 1%;
  padding: 10px 30px;
}
