#bar {
  font-size: 1.7em;
}
#bar a {
  color: #fff;
}
.form-group .hp-key {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.7em;
  color: #fff;
  font-weight: 600;
}
.form-group .hp-key .fa {
  margin-left: 15px;
}
.form-group .hp-key .fa,
.form-group .hp-key .title {
  vertical-align: middle;
}
.form-group .hp-value {
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 1.7em;
}
.form-group .hp-value .inside {
  padding: 0px 15px;
}
.passport-page #bar {
  background-color: #3e9994;
}
.passport-page .hp-key {
  background-color: #3e9994;
}
.passport-page .hp-value {
  background-color: #d9e8e8;
  color: #3e9994;
}
.passport-page .btn {
  background-color: #3e9994;
  font-size: 1em;
  color: #ffffff;
}
.passport-page .btn.one_allergy {
  margin-right: 10px;
  margin-bottom: 10px;
}
.passport-page .btn.one_notselected {
  background-color: #666;
}
.events-page #bar {
  background-color: #331336;
}
.events-page .hp-key {
  background-color: #331336;
}
.events-page .hp-value {
  background-color: #c6bdc9;
  color: #331336;
}
.events-page .btn {
  background-color: #331336;
  font-size: 1em;
  color: #ffffff;
}
.events-page .btn.one_allergy {
  margin-right: 10px;
  margin-bottom: 10px;
}
.events-page .btn.one_notselected {
  background-color: #666;
}
.add-contact-page #bar {
  background-color: #dc663d;
}
.add-contact-page .hp-key {
  background-color: #dc663d;
}
.add-contact-page .hp-value {
  background-color: #f9e0ce;
  color: #dc663d;
}
.add-contact-page .btn {
  background-color: #dc663d;
  font-size: 1em;
  color: #ffffff;
}
.add-contact-page .btn.one_allergy {
  margin-right: 10px;
  margin-bottom: 10px;
}
.add-contact-page .btn.one_notselected {
  background-color: #666;
}
.emotions-page .uppercase {
  text-transform: uppercase;
  font-size: 3em;
}
.emotions-page h3 {
  color: #fff;
}
.emotions-page .icon {
  color: #fff;
  font-size: 1.7em;
}
.emotions-page .content {
  text-align: center;
}
.emotions-page textarea {
  width: 90%;
  height: 40%;
  max-height: 400px;
  min-height: 100px;
  margin-bottom: 30px;
}
.emotions-page.sad {
  height: 100%;
  background-color: #e90f1a;
}
.emotions-page.sad #bar {
  background-color: #e90f1a;
}
.emotions-page.sad .hp-key {
  background-color: #e90f1a;
}
.emotions-page.sad .btn {
  background-color: #fff;
  font-size: 1.7em;
  width: 200px;
  color: #e90f1a;
}
.emotions-page.pain {
  height: 100%;
  background-color: #574849;
}
.emotions-page.pain #bar {
  background-color: #574849;
}
.emotions-page.pain .hp-key {
  background-color: #574849;
}
.emotions-page.pain .btn {
  background-color: #fff;
  font-size: 1.7em;
  width: 200px;
  color: #574849;
}
.emotions-page.happy {
  height: 100%;
  background-color: #46db2f;
}
.emotions-page.happy #bar {
  background-color: #46db2f;
}
.emotions-page.happy .hp-key {
  background-color: #46db2f;
}
.emotions-page.happy .btn {
  background-color: #fff;
  font-size: 1.7em;
  width: 200px;
  color: #46db2f;
}
.allergies-page #bar {
  background-color: #e9b937;
}
.allergies-page .hp-key {
  background-color: #e9b937;
}
.allergies-page .hp-value {
  background-color: #faf2d9;
  color: #e9b937;
}
.allergies-page .btn {
  background-color: #e9b937;
  font-size: 1em;
  color: #ffffff;
}
.allergies-page .btn.one_allergy {
  margin-right: 10px;
  margin-bottom: 10px;
}
.allergies-page .btn.one_notselected {
  background-color: #666;
}
.contacts-page #bar {
  background-color: #dc663d;
}
.contacts-page .hp-key {
  background-color: #dc663d;
}
.contacts-page .hp-value {
  background-color: #f9e0ce;
  color: #dc663d;
}
.contacts-page .btn {
  background-color: #dc663d;
  font-size: 1em;
  color: #ffffff;
}
.contacts-page .btn.one_allergy {
  margin-right: 10px;
  margin-bottom: 10px;
}
.contacts-page .btn.one_notselected {
  background-color: #666;
}
.questions-page #bar {
  background-color: #dc663d;
}
.questions-page .hp-key {
  background-color: #dc663d;
}
.questions-page .hp-value {
  background-color: #f9e0ce;
  color: #dc663d;
}
.HomeContainer {
  text-align: center;
}
.HomeContainer .buttons {
  margin-bottom: 10px;
}
.eventbuttons,
.emotions,
.clock,
.passport,
.camera {
  height: 15%;
  vertical-align: middle;
  width: 100%;
  font-size: 3em;
  color: #fff;
  padding: 10px 0;
}
.eventbuttons a,
.emotions a,
.clock a,
.passport a,
.camera a {
  color: #fff;
}
.eventbuttons .fa,
.emotions .fa,
.clock .fa,
.passport .fa,
.camera .fa {
  margin-left: 15px;
  vertical-align: middle;
}
.camera {
  height: 20%;
}
.camera > .fa {
  color: #331336;
}
.camera a {
  color: #331336;
}
.clock {
  background-color: #a47272;
}
.eventbuttons {
  background-color: #331336;
}
.passport {
  background-color: #3e9994;
}
.happy > .fa {
  color: #46db2f;
}
.sad > .fa {
  color: #e90f1a;
}
.pain > .fa {
  color: #574849;
}
.menu {
  overflow: hidden;
}
