@passportColor: #3e9994;
@passportColorLight: #D9E8E8;
@eventColor: #331336;
@eventColorLight: #C6BDC9;
@passportColorLight: #D9E8E8;
@contactColor: #DC663D;
@contactColorLight: #F9E0CE;
@allergyColor: #E9B937;
@happyColor: #46DB2F;
@sadColor: #E90F1A;
@painColor: #574849;
@allergyColorLight: #FAF2D9;
@clockColor: #A47272;

#bar {
  font-size: 1.7em;
  a {
    color: #fff;
  }
}

.form-group {
  .hp-key {
    padding-top: 10px;
    padding-bottom:10px;
    font-size: 1.7em;
    color: #fff;
    font-weight: 600;
    .fa {
      margin-left: 15px;
    }
    .fa, .title {
      vertical-align: middle;
    }
  }
  .hp-value {
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 1.7em;
    .inside {
      padding: 0px 15px;
    }
  } 
}

.make-page(@strong, @light) {
  #bar {
    background-color: @strong;
  }
  .hp-key {
    background-color: @strong;
  }
  .hp-value {
    background-color: @light;
    color: @strong;
  }
  .btn {
    background-color:@strong;
    font-size: 1em;
    color: #fff
  }
  .btn.one_allergy {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .btn.one_notselected {
    background-color: #666;
  }
  
}
.passport-page {
  .make-page(@passportColor, @passportColorLight);
}

.events-page {
  .make-page(@eventColor, @eventColorLight);
}
.add-contact-page{
  .make-page(@contactColor,@contactColorLight);
}
.make-emotion(@color) {
  height: 100%;
  background-color: @color;
  #bar {
    background-color: @color;
  }
  .hp-key {
    background-color: @color;
  }

  .btn { 
    background-color: #fff;
    font-size: 1.7em;
    width: 200px;
    color: @color;
  }
}

.emotions-page {
  .uppercase {
    text-transform: uppercase;
    font-size: 3em;
  }

  h3 {
    color: #fff;
  }
  .icon {
    color: #fff;
    font-size: 1.7em;
  }
  .content {
    text-align: center;
  }
  
  textarea {
    width: 90%;
    height: 40%;
    max-height: 400px;
    min-height: 100px;
    margin-bottom: 30px;
  }

  &.sad {
    .make-emotion(@sadColor);
  }

  &.pain {
    .make-emotion(@painColor);
  }

  &.happy {
    .make-emotion(@happyColor);
  }
}

.allergies-page {
  .make-page(@allergyColor, @allergyColorLight);
}

.contacts-page {
  .make-page(@contactColor, @contactColorLight);
}

.HomeContainer {
  text-align: center;
  
  .buttons {
    margin-bottom: 10px;
  }
}


.setFaColor(@color){
  & > .fa {
    color: @color;
  }
}


.eventbuttons, .emotions, .clock, .passport, .camera{
  a {
    color: #fff; 
  }

  height: 15%;
  vertical-align: middle;
  width:100%;
  font-size: 3em;
  color: #fff;
  
  padding: 10px 0;
  .fa {
      margin-left: 15px;
      vertical-align: middle;
    }
}

.camera{
  .setFaColor(@eventColor);
   height: 20%;

}
.clock{
  background-color: @clockColor;
}

.eventbuttons{
  background-color: @eventColor;
}


.passport{
  background-color: @passportColor;
}

.happy{
  .setFaColor(@happyColor);
}

.sad{
  .setFaColor(@sadColor);
}

.pain{
  .setFaColor(@painColor);
}
.menu {
  overflow: hidden;
}
