@passportColor: #3e9994;
@eventColor: #331336;
@contactColor: #DC663D;
@allergyColor: #E9B937;

#bar {
  a {
    color: #fff;
  }
}

.passport-page {
  #bar {
    background-color: @passportColor;
  }
  .hp-key {
    background-color: @passportColor;
    color: #fff;
    font-weight: 600;
  }
  .hp-value {
    background-color: lighten(@passportColor, 30%);
  }
  .btn { 
  background-color: @passportColor;
  .center-block();
  width: 200px;
  }
}

.events-page {
  #bar {
    background-color: @eventColor;
  }
  .hp-key {
    background-color: @eventColor;
    color: #fff;
    font-weight: 600;
  }


    .btn { 
  background-color: @eventColor;
  .center-block();
  width: 200px;
  }
}
.allergies-page{
  #bar {
    background-color:@allergyColor;
  }
}
.contacts-page{
  #bar{
    background-color:@contactColor;
  }
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
