<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chart for Patients</title>
  <link rel="stylesheet" href="stylesheets/app.css"/>
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
 <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
 <script type="text/javascript" charset="utf-8" src="/components/angular/angular.js"></script>
   <script type="text/javascript" charset="utf-8" src="/components/angular-route/angular-route.js"></script>


</head>
<body>
  <div ng-view></div>
  <script src="/app/controllersChart.js"></script>
  <script src="/app/healthpass.js"></script>
</body>
</html>
