<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chart for Patients</title>
  <link rel="stylesheet" href="/app/healthpass/healthpass.css"/>
</head>
<body>
  <div ng-view></div>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="/components/jquery/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/components/angular/angular.js"></script>
  <script type="text/javascript" charset="utf-8" src="/components/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="/app/healthdash/healthdash.js"></script>
  <script type="text/javascript" src="/app/healthpass/healthpass.factories.js"></script>
</body>
</html>
