<html ng-app="healthpass">
<head>
  <title>HealthPass</title>
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/app/healthpass.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <script type="text/javascript" charset="utf-8" src="/components/angular/angular.js"></script>
  <script type="text/javascript" charset="utf-8" src="/components/angular-route/angular-route.js"></script>
  <script type="text/javascript" charset="utf-8" src="/app/healthpass.js"></script>
  
  <div class="container-fluid">
    <div ng-view ng-controller="MainController"></div>
  </div>
  
  
</body>
</html>