<div>
  <div>Name <input type ="text" ng-model="data.name"></div>
  <div>Surname: <input type ="text" ng-model="data.surname"> </div>
  <div>Description: <input type ="text" ng-model="data.description"> </div>
  <div>Kind: <input type ="text" ng-model="data.kind"></div>
  <div>Telephone:<input type ="text" ng-model="data.telephone"> </div>
  <div>Picture: <button ng-click="">Upload</button></div>
  <div>Nickname:<input type ="text" ng-model="data.nickname"> </div>
  <div> 
  	<button ng-click="goBack()">Cancel</button>
  	<button ng-click="saveContact(data)">Save</button>
  </div>
</div>