<div class="contacts-page">  
  <header>
    <div id="bar" class="bar-contacts">
      <a href="#/">Go home</a>
    </div>
  </header>

<div>
  <div><a href="#/add_contact" class="btn btn-primary btn-block active" role="button">Add People</a></div>
</div>
<div ng-repeat="contact in me.contacts" class="contact">


  <div class="contact_name">
    <h3>
      <strong>{{contact.name}} {{contact.surname}}</strong>
    <i class="fa fa-smile-o fa-1x" ng-show="contact.kind=='friend'"></i>
    <i class="fa fa-user-md fa-1x" ng-show="contact.kind=='doctor'"></i>
    <i class="fa fa-user fa-1x" ng-show="contact.kind=='relative'"></i>
    <i class="fa fa-user-md fa-1x" ng-show="contact.kind=='assistant'"></i>
     </h3>
   </div>
  <div class="nickname" ng-show="contact.nickname"></strong>{{contact.nickname}}</div>
  <div class="description"><em>{{contact.description}}</em></div>
  <div class="telephone"><abbr>{{contact.telephone}}</abbr></div>
  <div class="picture" ng-show="contact.picture">{{contact.picture}}</div>
  <hr>
</div>
