<div class="emotions-page" ng-class="{happy: data.emotion_type == 'happy',  sad: data.emotion_type == 'sad', pain: data.emotion_type == 'pain'}">
  <header>
    <div id="bar" class="bar-emotion">
      <a href="#/">Go home</a>
    </div>
  </header>
  <div>
    <h3><div ng-show="data.emotion_type == 'happy'">You are happy :)</div></h3>
    <h3><div ng-show="data.emotion_type == 'sad'">You are sad :(</div></h3>
    <h3><div ng-show="data.emotion_type == 'pain'">You feel pain :S</div></h3>
    <textarea class="desctiptionCls" ng-model="data.description"></textarea>
    <a class="btn btn-primary btn-block active" role="button" href="/">Cancel</a>
    <button ng-click="saveEmotion(data)" class="btn btn-primary btn-block">Save</button>
  </div>
</div>