<div class="emotions-page" ng-class="{happy: data.emotion_type == 'happy',  sad: data.emotion_type == 'sad', pain: data.emotion_type == 'pain'}">
  <header>
    <div id="bar" class="bar-emotion">
      <a href="#/"><i class="fa fa-angle-left"></i> back</a>
    </div>
  </header>
  <div class="content">
    <h3><div ng-show="data.emotion_type == 'happy'">You are happy :)</div></h3>
    <h3><div ng-show="data.emotion_type == 'sad'">You are sad :(</div></h3>
    <h3><div ng-show="data.emotion_type == 'pain'">You feel pain :S</div></h3>
    <textarea class="desctiptionCls" ng-model="data.description"></textarea>
    <div class="choice">
      <a class="btn" role="button" href="/">Cancel</a>
      <button ng-click="saveEmotion(data)" class="btn">Save</button>
    </div>
  </div>
</div>