<div class="passport-page">
  <header>
    <div id="bar">
      <a href="#/">Go home</a>
    </div>
  </header>

  <div class="form-horizontal">
    <div class="form-group">
      <div class="col-xs-3 hp-key">Name</div>
      <div class="col-xs-9 hp-value">
        {{me.name}}
      </div>
    </div>
  
    <div class="form-group">
      <div class="col-xs-3 hp-key">Surname</div>
      <div class="col-xs-9 hp-value">
        {{me.surname}}
      </div>
    </div>
  
    <div class="form-group">
      <div class="col-xs-3 hp-key">Email</div>
      <div class="col-xs-9 hp-value">
        {{me.email}}
      </div>
    </div>
  
    <div class="form-group">
      <div class="col-xs-3 hp-key">Telephone</div>
      <div class="col-xs-9 hp-value">
        {{me.telephone || "&nbsp;"}}
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-3 hp-key">Disability level</div>
      <div class="col-xs-9 hp-value">
        Low
      </div>
    </div>

     <div class="form-group">
      <div class="col-xs-3 hp-key">Understanding level</div>
      <div class="col-xs-9 hp-value">
        Moderate
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-3 hp-key">Comunication type</div>
      <div class="col-xs-9 hp-value">
        Pictures
      </div>
    </div>

     <div class="form-group">
      <div class="col-xs-3 hp-key">Support hours</div>
      <div class="col-xs-9 hp-value">
        1-5
      </div>
    </div>

   <!-- Disability level: 
     <ul>
        <li>Low</li>
        <li>Medium</li>
        <li>High</li>
      </ul>
    </div>
    <div>Understanding level: 
     <ul>
        <li>Easily</li>
        <li>Moderate</li>
        <li>Very Difficult</li>
      </ul>
    </div>
    <div>Communication type:
      <ul>
        <li>Involving someone else</li>
        <li>Easy read information</li>
        <li>Communication Book</li>
        <li>Pictures</li>
        <li>Drawing</li>
        <li>Signing/Makaton</li>
        <li>Signing and talikng</li>
        <li>Speaking directly to me</li>
        <li>Look me in the face</li>
      </ul>
    </div>
    <div>Support hours: 0-1 1-5 5-10{{me.support_hours}}</div>
  -->
  
    <div><a href="#/allergies" class="btn btn-primary btn-block active" role="button">Allergies</a></div>
    <div><a href="#/contacts" class="btn btn-primary btn-block active" role="button">Important people</a></div>
    <div><a href="#/questionnaire" class="btn btn-primary btn-block active" role="button">Likes/Dislikes</a></div>
    <div><a href="#/questionnaire" class="btn btn-primary btn-block active" role="button">Photos</a></div>
  </div>
</div>