body {
	padding-top: 60px;
	width: 100%;
	height: 100%;
}

.avatar{
	img{
		width: 120px;
		border: solid #565051 2px;
	}
}

#healthpass, #emotions, #likes_dislikes{
width: 90%;
margin:auto;
margin-top: 5%;
}


#emotions{
	
	#dashboard{
	width: 100%;
	height: auto;
	}

	#chart_div{
	position: relative;
	margin: auto;
	width: inherit;

}

	#control{
	position: relative;
	display: block;
	width: 100%;
	height: 50px;
	}
	
}


.users{
	width: 70%;
	margin: auto;
	text-align: center;
	font-size: 1.5em;

	.user{
	
		background: #D1D0CE;
		padding: 10px;
		color: white;
		border-bottom: 1px solid;
	}

	span{
		float: right;
		margin-right: 4px;
		color: #565051; 
		margin-top: 2px;
	}

	p{
		color: #565051;
		margin: 2%;
		font-weight: 600;
	}
}

