<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chart for Patients</title>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <link rel="stylesheet" href="stylesheets/app.css"/>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
  <div ng-controller="MainController">
    <div ng-controller="ChartController">
      <div id="dashboard">
        <div id="chart_div" style='width: 915px; height: 300px;'></div>
        <div id="control" style='width: 915px; height: 50px;'></div>
      </div>

      <input type="date" ng-model="date">{{date}}
      <button ng-click="displayDate(date)">Display</button>
      <button ng-click="testData()">Test Data</button>
    </div>
  </div>
  <script src="/app/controllersChart.js"></script>
</body>
</html>















<!--
<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/angular-route.js"></script>
    <script src="/javascripts/controllers.js"></script>
    
  </head>
  <body >
    <div ng-controller="MainController">
      <div ng-controller="ChartController" id="chart_div">
        
        <input id="date" text="Date" type="date" ng-model="date"/>{{date}}
        <button ng-click="displayDate(date)">Display</button>
      </div>
    </div>
  </body>
</html> -->