<div class="patient-page">

	<div class="bs-example">
		<ul class="nav nav-tabs" id="tabs">
			<li ng-class="{active:selected==1}"><a ng-click="showData(1)"><span class="glyphicon glyphicon-book"></span>  HealthPassport</a></li>
			<li ng-class="{active:selected==2}"><a ng-click="showData(2)"><span class="glyphicon glyphicon-thumbs-up"></span> Likes/Dislikes <span class="glyphicon glyphicon-thumbs-down"></span></a></li>
			<li ng-class="{active:selected==3}"><a ng-click="showData(3)"><span class="glyphicon glyphicon-heart-empty"></span> Emotions</a></li>
		</ul>
	</div>

	<div class="tab-content">

		<div id="healthpass" ng-show="selected==1" ng-controller="PassportController">

			<div class="passport-page">

				<div class="form-horizontal">
				    <div class="form-group">
				      <div class="col-sm-3 hp-key"><i class="fa fa-angle-right fa-2x"></i> <span class="title">Name</span></div>
				      <div class="col-sm-9 hp-value">
				        <div class="inside">{{me.name}} {{me.surname}}</div>
				      </div>
				    </div>
				  
				    <div class="form-group">
				      <div class="col-sm-3 hp-key"><i class="fa fa-envelope-o fa-2x"></i> <span class="title">Email</span></div>
				      <div class="col-sm-9 hp-value">
				        <div class="inside">{{me.email || "Not stated yet"}}</div>
				      </div>
				    </div>
				  
				    <div class="form-group">
				      <div class="col-sm-3 hp-key"><i class="fa fa-phone fa-2x"></i> <span class="title">Telephone</span></div>
				      <div class="col-sm-9 hp-value">
				        <div class="inside">{{me.telephone || "Not stated yet"}}</div>
				      </div>
				    </div>

				    <div class="form-group">
				      <div class="col-sm-3 hp-key"><i class="fa fa-wheelchair fa-2x"></i> <span class="disability_level">Disability Level</span></div>
				      <div class="col-sm-9 hp-value">
				        <div class="inside">{{disability_level(me.patient.disability_level) || "Not stated yet" }}</div>
				      </div>
				    </div>

				     <div class="form-group">
				      <div class="col-sm-3 hp-key"><i class="fa fa-book fa-2x"></i> <span class="understanding">Understanding</span></div>
				      <div class="col-sm-9 hp-value">
				        <div class="inside">{{understanding_level(me.patient.understanding_level) || "Not stated yet" }}</div>
				      </div>
				    </div>

				    <div class="form-group">
				      <div class="col-sm-3 hp-key"><i class="fa fa-bullhorn fa-2x"></i> <span class="communication">Communication</span></div>
				      <div class="col-sm-9 hp-value">
				        <div class="inside">{{communication_type(me.patient.communication_type) || "Not stated yet" }}</div>
				      </div>
				    </div>

				     <div class="form-group">
				      <div class="col-sm-3 hp-key"><i class="fa fa-user-md fa-2x"></i> <span class="title">Support hours</span></div>
				      <div class="col-sm-9 hp-value">
				        <div class="inside">{{me.patient.support_hours || "I didn't define the number of"}} hours</div>
				      </div>
				    </div>
			</div>
		</div>

		<div id="likes_dislikes" ng-show="selected==2">
			<div id="likes">
				<h4>Likes</h4>
				<div class="container">
					<div class="row">
						<div ng-repeat="question in user.questions|filter:{answer:2}">
							<div class="col-lg-3 col-md-4 col-xs-6 thumb">
								<a class="thumbnail">
									<img class="img-responsive" ng-src="{{question.picture.url}}"> {{question.title}}
								</a>
							</div>
						</div>
					</div>
				</div>

				<div id="dislikes">
					<h4>Dislikes</h4>
					<div class="container">
						<div class="row">
							<div ng-repeat="question in user.questions|filter:{answer:1}">
								<div class="col-lg-3 col-md-4 col-xs-6 thumb">
									<a class="thumbnail">
										<img class="img-responsive" ng-src="{{question.picture.url}}"> {{question.title}}
									</a>
								</div>
							</div>
						</div>
					</div>

					<div id="possible_choices">
						<h4>Possible choises</h4>
					<div class="container">
        		<div class="row">
            	<div ng-repeat="question in user.questions">
            		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
                	<a class="thumbnail">
                    <img class="img-responsive" ng-src="{{question.picture.url}}"> {{question.title}}
                	</a>
            		</div>
        			</div>
        		</div>
        </div>

					</div>
					<div id="add_remove">
						<i class="fa fa-plus"></i>
					</div>

				</div>

				<div id="emotions" ng-show="selected==3">

					<div id="dashboard" ng-controller="ChartController">
						<div id="chart_div"></div>
						<div id="control" style='width: 915px; height: 50px;'></div>
					</div>
				</div>


			</div>
		</div>
