<div>
	CREATE USER {{message}}
	<br/>
	<div>
		<h5>Name: <input type="text" ng-model="userData.name">{{userData.name}} </h5> 
	</div>
	<div>
		<h5>Surname: <input type="text" ng-model="userData.surname">{{userData.surname}} </h5> 
	</div>
	<div>
		<h5>Username: <input type="text" ng-model="userData.username">{{userData.username}} </h5> 
	</div>
	<div>
		<h5>Password: <input type="password" ng-model="userData.password">{{userData.password}} </h5> 
	</div>
	<div>
		<h5>Email: <input type="text" ng-model="userData.email">{{userData.email}} </h5> 
	</div>
	<div>
		<h5>Avatar: <input type="text" ng-model="userData.avatar">{{userData.avatar}} </h5> 
	</div>
	<div>
		<h5>Telephone: <input type="text" ng-model="userData.telephone">{{userData.telephone}} </h5> 
	</div>
	<div>
		<h5>Role: <input type="text" ng-model="userData.role">{{userData.role}} </h5> 
	</div>
	<div>
		<h5>Street: <input type="text" ng-model="userData.address.street">{{userData.address.street}} </h5> 
	</div>
	<div>
		<h5>City: <input type="text" ng-model="userData.address.city">{{userData.address.city}} </h5> 
	</div>
	<div>
		<h5>Country: <input type="text" ng-model="userData.address.country">{{userData.address.country}} </h5> 
	</div>
	<div>
		<h5>Postcode: <input type="text" ng-model="userData.address.postcode">{{userData.address.postcode}} </h5> 
	</div>
	<div>
		<h5>Number: <input type="number" ng-model="userData.address.number">{{userData.address.number}} </h5> 
	</div>
	<a role="button" ng-click="createUser()">Create User</a>
</div>